.messages-list {
  width: 200px;
  background-color: #040536a4;
  color: #ffffff;
  padding: 20px;
  overflow-y: auto;
  font-size: 1.75rem;
}

.messages-list h2 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
}

.messages-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }

.messages-list li {
  padding: 8px 0;
  cursor: pointer;
  border-bottom: 1px solid #4346f783;
  font-size: 1.5rem;
}

.messages-list li:hover {
  background-color: #ffffff1a;
}