.messages-list {
  width: 200px;
  background-color: #040536a4;
  color: #ffffff;
  padding: 20px;
  overflow-y: auto;
  font-size: 1.75rem;
}

.messages-list h2 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
}

.messages-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.messages-list li {
  padding: 8px 0;
  cursor: pointer;
  border-bottom: 1px solid #4346f783;
  font-size: 1.5rem;
}

.messages-list li:hover {
  background-color: #ffffff1a;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #36393f;
  padding: 20px;
  border-radius: 5px;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content input {
  margin-bottom: 10px;
  padding: 8px; /* Adjusted to match button padding */
  border: none;
  border-radius: 4px;
}

/* New styles for button container Channel Creation */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Updated button styles */
.modal-content button {
  flex: 1;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/* Style for the primary action button (e.g., Create) */
.modal-content button[type="submit"] {
  background-color: #7289da;
  color: white;
  margin-right: 5px; /* Add space between buttons */
}

/* Style for the secondary action button (e.g., Cancel) */
.modal-content button[type="button"] {
  background-color: #747f8d;
  color: white;
  margin-left: 5px; /* Add space between buttons */
}

.error-message {
  color: #ff4444;
  margin-bottom: 10px;
}

