.login-container {
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 400px;
  background-color: #ffffffcc;
  border-radius: 8px;
  padding: 20px;
}

.login-table td {
  padding: 10px;
}

.login-table input {
  width: 270px;
  padding: 8px;
  border: 1px solid #0039d6;
  border-radius: 4px;
}

.login-table button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  background-color: #0039d6;
  color: #fff;
  transition: 0.3s ease;
}

.login-table button:hover {
  background-color: #6f00ff;
}

.login-table .register-button {
  background-color: #0039d6;
  color: #fff;
  transition: 0.3s ease;
}

.login-table .register-button:hover {
  background-color: #6f00ff;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
